<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Authentication</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>

    <div id="mainSection">
        <h1>Sign up page</h1>

        <div>
            <form action="/signup" method="POST" id="form">

                <input class=inputBox type="email" name="email" id="email" placeholder="Email">
                <div class="spaceDiv"></div>

                <input class=inputBox type="text" name="username" id="username" placeholder="Username">
                <div class="spaceDiv"></div>

                <input class=inputBox type="password" name="password" id="password" placeholder="Password">
                <div class="spaceDiv"></div>

                <button class=inputBox>Sign Up</button>
        </div>
        </form>
        <p>Already have an account? <a href="/login">Log in here</a></p>

    </div>

    </section>


    <script src="app.js"></script>

</body>

</html>